.metrics
  text-align center
  background-color white
  color black

  h1
    margin-top 0
    padding-top 10px

.summary
  display grid
  grid-template-columns 33% 33% 33%

.graphs
  display grid
  grid-template-columns 50% 50%

.chart
  display grid
  margin auto

.loading
  height 75vh
  padding-top 20vh
  text-align center
  background-color white
  color black
  font-style italic