body
  background-color: #363434
  color #fff
  font-family "Helvetica Neue","Segoe UI",sans-serif
  font-size 15px

p
  line-height 20px

a
  color #fff
  font-weight bold
  &:hover
    color #fff
    text-decoration underline

.container
  height 100vh
  width 100%
  display flex
  align-items center
  justify-content center

.headline-alligner
  display flex
  align-items center
  justify-content center
  height 100%

.center
  text-align center
  line-height 35px

img
  width 100%

.dashboard-img-container
  display flex
  flex-flow row wrap
  justify-content center
  margin-top 40px
  img
    max-width 160px

.not-huge
  max-width 500px

.row-eq-height
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex

.download-badge
  height 60px
  width auto

.ios
  height 40px

.map-shot
  object-fit cover
  padding 0
  height 100%
  background-size cover
  background-repeat no-repeat

.half-height-row
  height 50%

.map-container
  height 100vh
  & > .row
    height 50%

.no-padding
  padding 0

.white-container
  background-color #fff
  color #777
  a
    color #000
    font-weight bold
    &:hover
      color #000
      text-decoration underline

.red_rock
  height 100vh

.stats-img
  height 500px
  width auto

.stats-container
  text-align center

.record-block
  padding-top 40px
  padding-bottom 40px
  padding-right 20px
  padding-left 20px
  overflow-x hidden

.record-img
  height 500px
  width auto

.record-img-caption
  margin-top 10px
  font-size 90%
  & > span
    padding 10px
    background-color rgba(100, 100, 100, 0.5)
    border-radius 4px

.full-width
  width 100%

.full-height
  height 100%

.footer-links
  list-style none

.footer-link-container
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center

.mask
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  padding 0 20px
  background-color rgba(0,0,0,0.6)


.center-me
  display flex
  align-items center
  justify-content center

.explore-link
  font-weight 400
  color #dddddd

.back-img
  position absolute
  z-index 1

.img-container
  position absolute
  z-index 2

.main-content
  position absolute
  z-index 2
  background-color rgba(0,0,0,0.6)
  height 100vh
  width 100%

.start-img
  height: 100vh
  width 100%
  object-fit cover

.red-rock-img
  object-fit cover
  height 100vh

.profile-img
  width 300px

.record-block-img
  width 300px

.map-imgs
  display grid
  grid-template-columns 45% 45%
  grid-template-rows 45% 45%
