<ion-content>
  <ion-card class="xyz-card">
    <ion-item class="map-xyz">
      <span class="map-xyz-label">x, y, z</span>
      {{ mapInfo.lng }}, {{ mapInfo.lat }} {{ (mapInfo.elevation) ? ('| ' + mapInfo.elevation + 'm' + ' / ' + (mapInfo.elevation * 3.28084).toFixed(0) + 'ft') : ''}}
    </ion-item>
  </ion-card>

  <div class="loading" [hidden]="!loading">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ion-card *ngFor="let b of mapInfo.burwell">
    <ion-card-content>
      <h2 class="title-two">{{ b.name }}</h2>
      <p class="info-attr" [hidden]="!b.t_int_name">
        <strong>Age: </strong>
        {{ b.t_int_name === b.b_int_name ? b.t_int_name : b.b_int_name + ' - ' + b.t_int_name}}
        ({{ b.b_int_age }} - {{ b.t_int_age }} <small> Ma</small>)
      </p>


      <p class="info-attr" [hidden]="!b.strat_name.length">
        <strong>Stratigraphic name: </strong>{{ b.strat_name }}
      </p>

      <p class="info-attr" [hidden]="!b.descrip.length">
        <strong>Description: </strong>{{ b.descrip }}
      </p>

      <p class="info-attr" [hidden]="!b.comments.length">
        <strong>Comments: </strong>{{ b.comments }}
      </p>

      <p class="info-attr" [hidden]="!b.lith.length">
        <strong>Lithology: </strong>{{ b.lith }}
      </p>

      <p class="info-attr reference" [hidden]="!b.ref">
        <strong>Reference: </strong>
        {{ b.ref.authors }}, <span [hidden]="!b.ref.ref_year.length">{{ b.ref.ref_year }}, </span><a class="reference-url" href="{{ b.ref.url }}">{{ b.ref.ref_title }}</a><span [hidden]="!b.ref.ref_source.length">: {{ b.ref.ref_source }}</span><span [hidden]="!b.ref.isbn_doi.length">, {{ b.ref.isbn_doi }}</span>.
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="!hasKeys(mapInfo.lines)" *ngIf="hasKeys(mapInfo.lines)">
    <ion-card-content>
      <h2 class="title-two">{{mapInfo.lines.name ? mapInfo.lines.name : (mapInfo.lines.type ? mapInfo.lines.type : 'Lines')}}</h2>

      <p class="info-attr" [hidden]="!mapInfo.lines.type || !mapInfo.lines.name">
        <strong>Type: </strong> {{ mapInfo.lines.type }}
      </p>

      <p class="info-attr" [hidden]="!mapInfo.lines.direction">
        <strong>Direction: </strong> {{ mapInfo.lines.direction }}
      </p>

      <p class="info-attr" [hidden]="!mapInfo.lines.descrip">
        <strong>Description: </strong> {{ mapInfo.lines.descrip }}
      </p>

      <p class="info-attr reference" [hidden]="!mapInfo.lines.ref">
        <strong>Reference: </strong>
        {{ mapInfo.lines.ref.authors }}, <span [hidden]="!mapInfo.lines.ref.ref_year.length">{{ mapInfo.lines.ref.ref_year }}, </span><a class="reference-url" href="{{ mapInfo.lines.ref.url }}">{{ mapInfo.lines.ref.ref_title }}</a><span [hidden]="!mapInfo.lines.ref.ref_source.length">: {{ mapInfo.lines.ref.ref_source }}</span><span [hidden]="!mapInfo.lines.ref.isbn_doi.length">, {{ mapInfo.lines.ref.isbn_doi }}</span>.
      </p>

    </ion-card-content>
  </ion-card>


  <ion-card [hidden]="!hasKeys(mapInfo.macrostrat)">
    <ion-card-content>
      <h2 class="title-two" *ngIf="mapInfo.macrostrat.rank_names">{{mapInfo.macrostrat.rank_names}}</h2>
      <p class="info-attr" *ngIf="mapInfo.macrostrat.uniqueIntervals">
        <strong>Age: </strong>{{mapInfo.macrostrat.uniqueIntervals}} - ({{ mapInfo.macrostrat.b_age }} - {{ mapInfo.macrostrat.t_age}} <small> Ma</small>)
      </p>

      <p class="info-attr" *ngIf="mapInfo.macrostrat.max_thick">
        <strong>Thickness: </strong> {{ mapInfo.macrostrat.max_thick }} <small>m</small>
      </p>

      <p class="info-attr" *ngIf="mapInfo.macrostrat.pbdb_collections">
        <strong>PBDB Collections: </strong> {{ mapInfo.macrostrat.pbdb_collections}}
      </p>

      <p class="info-attr" *ngIf="mapInfo.macrostrat.lith" [hidden]="!hasKeys(mapInfo.macrostrat) || !mapInfo.macrostrat.lith.length">
        <strong>Lithology: </strong> <span *ngFor="let lith of mapInfo.macrostrat.lith">{{lith.name}} - {{(lith.prop*100).toFixed(0)}}%{{$last ? '' : ', '}}</span>
      </p>

      <p class="info-attr" *ngIf="mapInfo.macrostrat.environ" [hidden]="!hasKeys(mapInfo.macrostrat) || !mapInfo.macrostrat.environ.length">
        <strong>Environment: </strong> <span *ngFor="let environ of mapInfo.macrostrat.environ">{{environ.name}} - {{(environ.prop*100).toFixed(0)}}%{{$last ? '' : ', '}}</span>
      </p>

      <p class="info-attr" *ngIf="mapInfo.macrostrat.econ" [hidden]="!hasKeys(mapInfo.macrostrat) || !mapInfo.macrostrat.econ.length">
        <strong>Economic: </strong> <span *ngFor="let econ of mapInfo.macrostrat.econ">{{econ.name}} - {{(econ.prop*100).toFixed(0)}}%{{$last ? '' : ', '}}</span>
      </p>

      <p class="info-attr reference">
        <strong>Reference: </strong><a class="reference-url" href="https://macrostrat.org">Macrostrat.org</a>
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="!hasKeys(mapInfo.macrostrat) || !mapInfo.macrostrat.rank_names.length">
    <ion-card-content>
      <ion-item class="literature-header pull-left" text-wrap>
        <h2 class="title-two">Literature</h2>
        <small>Relevant articles for this location via GeoDeepDive</small>
      </ion-item>

      <div class="loading" [hidden]="!loadingGDD">
        <ion-spinner name="dots"></ion-spinner>
        <p><small>Loading literature from GeoDeepdDive...</small></p>
      </div>

      <ion-list>
        <ion-item [hidden]="loadingGDD || mapInfo.literature.journals.length">
          No articles found
        </ion-item>
        <ion-item *ngFor="let journal of mapInfo.literature.journals" class="item-text-wrap pull-left">
          <div class="journal-title" text-wrap>
            <h2 class="journal">{{ journal.name }}</h2>
          </div>
          <div class="reference" *ngFor="let article of journal.articles">
            {{ article.displayAuthors ? article.displayAuthors : 'Unknown' }}, <span class="article-year" [hidden]="!article.year">{{ article.year }}. </span><a class="reference-url" (click)="openExternalLink(article.url)">{{ article.title }}</a>: <span class="publisher">{{ article.publisher }}</span>.
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row [hidden]="!showCreate">
      <ion-col col-6 (click)="dismiss()">
        <button ion-button full color="light" class="close-button">
          Close <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 (click)="newCheckin()">
        <button ion-button full class="new-checkin-btn">New Checkin <ion-icon name="ios-add-circle-outline"></ion-icon></button>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="showCreate">
      <ion-col col-12 (click)="dismiss()">
        <button ion-button full color="light">
          Close <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
