<ion-content class="padding">
  <ion-card>
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="checkin.gravatar">
      </ion-thumbnail>

      <h2 class="home-checkin-title">{{ checkin.first_name }} {{ checkin.last_name }}</h2>
      <p>
        <small>
          <span ng-class="(checkin.unsynced) ? 'assertive' : ''">{{ checkin.unsynced ? 'Unsynced' : checkin.created }}</span>
        </small>
      </p>
      <p class="near">
        <small>
          <a ng-show="checkin.near.length" class="nearLink">
            <ion-icon name="pin"></ion-icon> Near {{ (checkin.near.length > 35) ? (checkin.near.substr(0, 29) + '...') : checkin.near }}
          </a>
        </small>
      </p>
      <p class="home-checkin-rating">
        <ion-icon name="star" *ngFor="let i of getRating(checkin.rating); let i = index"></ion-icon>
      </p>

    </ion-item>
    <ion-card-content>
      <h2 class="home-checkin-title">{{ checkin.notes }}</h2>
      <img class="full-image main-checkin-image"
             [src]="checkin.banner || checkin.photo || ''"
             [hidden]="!checkin.photo || !checkin.photo.length"/>

      <ion-list>
        <div *ngFor="let observation of checkin.observations" class="checkin-info-observations">
          <ion-item [hidden]="!hasKeys(observation.rocks)">
            <ion-thumbnail item-left [hidden]="!observation.rocks.photo">
              <img [src]="observation.rocks.thumb || observation.rocks.photo || ''">
            </ion-thumbnail>


              <div [hidden]="!hasKeys(observation.rocks)" class="checkin-strat-name observation-strat-name active wrap">
                {{ (observation.rocks.strat_name) ? observation.rocks.strat_name.strat_name_long : '' }}
              </div>

              <div [hidden]="!hasKeys(observation.rocks.map_unit)" class="active wrap">
                {{ (observation.rocks.map_unit) ? observation.rocks.map_unit.unit_name : '' }}
              </div>

              <div [hidden]="!hasKeys(observation.rocks) || !observation.rocks.notes.length" class="notes-container wrap">
                <div class="observation-notes">
                  {{observation.rocks.notes}}
                </div>
              </div>

              <div [hidden]="!hasKeys(observation.rocks) || !observation.rocks.liths.length" class="checkin-time active">
                <span [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.interval)"
                class="checkin-attributes observation-attribute"
                [ngStyle]="{backgroundColor: 'rgba(' + ((observation.rocks.interval) ?  observation.rocks.interval.color : '') + ')', color: (observation.rocks.interval) ? observation.rocks.interval.textColor : '' }"
                >{{ (hasKeys(observation.rocks) && hasKeys(observation.rocks.interval)) ? observation.rocks.interval.name : '' }}
                </span>

                <span class="checkin-attributes observation-attribute"
                      *ngFor="let lith of observation.rocks.liths"
                      [ngStyle]="{backgroundColor: 'rgba(' + lith.color + ')'}">
                      <span *ngFor="let attribute of lith.attributes">{{attribute.name}} </span>
                      {{lith.name}}
                </span>

              </div>
          </ion-item>

          <!-- orientation -->
            <ion-item [hidden]="!hasKeys(observation.orientation)">
              <div class="row structure-row" [hidden]="!hasKeys(observation.orientation)">
                <div class="col-25" [hidden]="observation.orientation.strike == null">
                  <div class="structure-stat">
                    <span class="structure-stat-data">{{ observation.orientation.strikeCardinal  }}({{ observation.orientation.strike }}&deg;)</span>
                    <span class="structure-stat-label">Strike/Trend</span>
                  </div>
                </div>
                <div class="col-25" [hidden]="observation.orientation.dip == null">
                  <div class="structure-stat">
                    <span class="structure-stat-data">{{ observation.orientation.dip }}&deg;</span>
                    <span class="structure-stat-label">Dip/Plunge</span>
                  </div>
                </div>
                <div class="col-25">
                  <div class="structure-stat" [hidden]="observation.orientation.dip_dir == null">
                    <span class="structure-stat-data">{{ observation.orientation.dip_dirCardinal  }}({{ observation.orientation.dip_dir }}&deg;)</span>
                    <span class="structure-stat-label">Direction</span>
                  </div>
                </div>
                <div class="col-25">
                  <div class="structure-stat" [hidden]="!hasKeys(observation.orientation.feature)">
                    <span class="structure-stat-data">{{ (hasKeys(observation.orientation) && hasKeys(observation.orientation.feature)) ? observation.orientation.feature.name : '' }}</span>
                    <span class="structure-stat-label">Feature</span>
                  </div>
                </div>
              </div>
            </ion-item>

            <!-- fossils -->
            <ion-item
              [hidden]="!hasKeys(observation.fossils)"
              class="fossil-observation ng-class: (observation.fossils.photo) ? 'item-thumbnail-left' : 'item'"
            >
              <ion-thumbnail item-left [hidden]="!observation.fossils.photo">
                <img [src]="observation.fossils.thumb || observation.fossils.photo || ''">
              </ion-thumbnail>


              <div [hidden]="!hasKeys(observation.fossils) || !observation.fossils.taxon.length" class="checkin-view-taxa">
                <span *ngFor="let taxon of observation.fossils.taxon" class="observation-taxon">
                  <img class="taxon-thumb" [src]="PBDBURL + '/taxa/thumb.png?taxon_id=' + taxon.oid"/>
                  {{taxon.name}}
                </span>
              </div>

              <div [hidden]="!hasKeys(observation.fossils) || !observation.fossils.notes || !observation.fossils.notes.length" class="notes-container wrap">
                <div class="observation-notes">
                  {{observation.fossils.notes}}
                </div>
              </div>
            </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button icon-right (click)="dismiss()" outline full clear class="close-button">
      Close <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
