.footer 
  display grid
  grid-template-columns 50% 50%
  background-color white
  text-align center
  color #363434
  padding 25px 0
  height 25vh

  ul 
    list-style-type: none

  a 
    color black
    font-weight bold
  a:hover
    color black

.footer-text
  color #363434
  font-size 24px
  font-weight 500

.footer-links
  display grid
  margin auto

.titles
  text-align left
  margin-left 30%

.row
  width 100%