.checkin
  color black
  text-align left
  box-shadow -4px 0px 7px #aaa
  padding 15px
  border-radius 2%
  background-color white
  font-size 14px
  color #666
  margin-top 10px

  a 
    color: black
    text-decoration none

  a:hover
    color: black

.checkin-name
  font-size 20px
  font-weight 500
  color #333
  margin-bottom 0

.profile-pic
  height 80px
  border-radius 50%
  display inline-block