.checkin
  color black
  text-align left
  box-shadow -4px 0px 7px #aaa
  padding 15px
  border-radius 2%
  font-size 14px
  color #666
  margin-top 10px

  h3
    color black

  a 
    color: black
    text-decoration none

  a:hover
    color: black

.star
    height 15px

.checkin-header
  display flex

.checkin-name
  font-size 20px
  font-weight 500
  color #333
  margin-bottom 0

.profile-pic
  height 80px
  width 80px
  border-radius 50%
  display inline-block
  margin-right 10px

.box-header
  display flex
  
.name
  margin 0

.checkin-info
  display grid
  margin auto
  margin-left 0

.checkin-link:hover
  text-decoration none
  background-color green

  .checkin
    background-color #c9c9c9

.checkin-link
  text-decoration none
  background-color green

  .checkin
    background-color white

h3,h4,p
  margin 0

.observation-img
  margin-top 10px
  width 100%
  height 250px
  object-fit cover
  border-radius 2%

.description
  margin-top 10px

.navbar
  background-color white

.map-container
  position relative

.overlay-div
  position: absolute
  top: 0
  left: 0
  z-index: 1000
  background: rgba(255, 255, 255, 0.9)
  padding: 8px
  border-radius: 0 4px 4px 0
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  max-height: 100vh 
  overflow-y: auto
  width: 30%

/* Scrollbar Styling */
.overlay-div::-webkit-scrollbar
  width: 12px

.overlay-div::-webkit-scrollbar-track
  background: rgba(200, 200, 200, 0.3) /* Light grayish tone for track */

.overlay-div::-webkit-scrollbar-thumb
  background-color: rgba(150, 150, 150, 0.6) /* Subtle light gray for thumb */
  border-radius: 4px
  transition: background-color 0.2s ease

.overlay-div::-webkit-scrollbar-thumb:hover
  background-color: rgba(100, 100, 100, 0.8) /* Darker gray when hovered */

.dropdown-btn
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width 100%