.checkin
  color black
  text-align left
  box-shadow -4px 0px 7px #aaa
  padding 15px
  border-radius 2%
  font-size 14px
  color #666
  margin-top 10px

  h3
    color black

  a 
    color: black
    text-decoration none

  a:hover
    color: black

.star
    height 15px

.checkin-header
  display flex

.checkin-name
  font-size 20px
  font-weight 500
  color #333
  margin-bottom 0

.profile-pic
  height 80px
  width 80px
  border-radius 50%
  display inline-block
  margin-right 10px

.box-header
  display flex
  
.name
  margin 0

.checkin-info
  display grid
  margin auto
  margin-left 0

.checkin-link:hover
  text-decoration none
  background-color green

  .checkin
    background-color #c9c9c9

.checkin-link
  text-decoration none
  background-color green

  .checkin
    background-color white

h3,h4,p
  margin 0

.observation-img
  margin-top 10px
  width 100%
  height 250px
  object-fit cover
  border-radius 2%

.description
  margin-top 10px