@use "sass:color"
@use "../colors" as *
@use "@blueprintjs/colors/lib/scss/colors" as *

*
  box-sizing: border-box

// Colors taken primarily from blueprintjs v4
// See https://blueprintjs.com/docs/#core/colors
:root
  @each $name, $color in $colors
    --#{$name}: #{$color}

html, body
  height: 100vh
  height: -webkit-fill-available

.bp5-input
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2)

.bp5-button
  color: var(--text-color)

.bp5-control
  color: var(--text-subtle-color) !important

body
  color: var(--text-color)
  margin: 0
  padding: 0
  font-family: 'Source Sans Pro', sans-serif

  &.bp5-dark
    color-scheme: dark
    color: $dark-text
    // each item in color map
    @each $name, $color in $dark-colors
      --#{$name}: #{$color}

    .selected
      background-color: var(--panel-hover)

    .bp5-input
      &::placeholder
        color: var(--secondary-color)
        box-shadow: 0 0 0 0 color.change($light-gray3, $alpha: 0), 0 0 0 0 color.change($light-gray3, $alpha: 0), inset 0 0 0 1px color.change($light-gray1, $alpha: 0.15), inset 0 1px 1px color.change($light-gray1, $alpha: 0.2)

.bp5-card, .bp5-navbar
  border-radius: 4px
  background-color: var(--panel-background-color)
  box-shadow: 0 0 0 1px var(--card-shadow-color)

.map-container
  position: relative
  padding: 0

.overlay-div
  position: absolute
  top: 7vh
  left: 0
  z-index: 10
  height: 93vh
  width: 100%
  padding-top: 0
  border-top: 2px solid var(--panel-text)

._panel-subhead_z8iog_1
  padding: 10px 20px
  background-color: #333
  color: white
  border: none
  cursor: pointer
  border-radius: 4px
  width: 100%

.sidebox
  position: absolute
  z-index: 10
  height: 100vh
  width: 30%
  top: 0
  left: 0
  background: var(--panel-background-color)

  .title-header, .coordinates
    display: flex
    justify-content: center

  .title
    display: flex
    width: 100%
    color: black
    position: fixed
    width: 30%
    background: rgba(255, 255, 255, 0.85)
    height: 7vh
    background-color: var(--panel-background-color)
    color: var(--text-emphasized-color)
    padding: 0
    
    h1
      padding: 0
      margin: auto
      font-size: 24px
      margin-left: 10px

  .header-divider 
    position: absolute
    width: 100%
    top: 10vh
    z-index: 100


  .close-btn
    position: absolute
    top: 10px
    right: 10px
    background-color: var(--panel-background)
    color: var(--panel-text)
    border: none
    border-radius: 50%
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    font-size: 15px
    cursor: pointer
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    transition: background-color 0.3s, box-shadow 0.3s

    &:hover
      background-color: var(--panel-hover)
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)

.marker
  height: 7vh
  display: grid
  margin: auto
  margin-right: 0

.marker_pin, .filtered_pin
  background-color: magenta
  border-radius: 50%
  border: solid white 2px
  width: 15px
  height: 15px
  cursor: pointer

  span
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    font-size: 12px
    font-weight: bold    

.selcted-center
  display: flex

.selected_pin
  background-color: blue
  border-radius: 50%
  border: solid white 2px
  width: 15px
  height: 15px

  span
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    font-size: 12px
    font-weight: bold

.details-image
  width: 40px
  margin-left: 10px
  margin-top: 4px    

.checkin-info
  color: var(--text-emphasized-color)

  h3
    color: var(--text-emphasized-color)

.checkin-container
  padding: 0 8px 8px 8px
  overflow: auto
  height: 93vh

body 
  color: var(--text-emphasized-color)

.observation-img
  background-color: rgba(var(--text-emphasized-color), 0.5)

.star 
  filter: var(--anti-img-color)

.checkin-footer
  img 
    filter: var(--img-color)

.close-btn 
  background-color: var(--accent-secondary-color)
  color: var(--text-emphasized-color)
  
  &:hover
    background-color: var(--accent-secondary-hover-color)

.sort-dropdown
  height: 3vh
  background-color: var(--accent-secondary-color)

.sort-container
  position: absolute
  top: 15vh
  background-color: var(--panel-background-color)
  width: 100%
  z-index: 11
  height: 8vh
  display: grid
  grid-template-columns: 30% 30% 40%

  h3
    margin: auto
    margin-right: 5px

  select
    margin: auto
    margin-left: 5px
    border: none

.dark-button 
  margin: 6px 15px
  background-color: green

.search-bar
  position: relative
  width: 300px
  padding-top: 10px
  
  .search-icon
    top: 10px
    position: absolute
    width: 20px
    height: 20px
    left: 22px

  .x-icon
    top: 20px
    position: absolute
    width: 20px
    height: 20px
    right: 5px

  input
    width: 100%
    background-color: var(--accent-secondary-color)
    color: var(--text-emphasized-color)
    padding: 0 30px 0 10px
    height: 40px
    border: none


.autocomplete
  background-color: var(--panel-background-color)
  color: var(--text-emphasized-color)
  width: 100%
  padding: 0
  display: flex
  flex-direction: column
  align-items: center

  h1 
    margin:0
    text-align: center

  h2
    background-color: var(--accent-secondary-color)
    padding: 10px
    margin: 0
  
  li
    list-style-type: none
    background-color: var(--panel-background-color)
    padding: 3px 10px

    &:hover
      background-color: var(--accent-secondary-hover-color)

  p
    padding-left: 10px
  
  ul
    margin-top: 0
    padding-left: 0

.results
  overflow-y: auto
  max-height: calc(85vh - 10px)
  background-color: var(--panel-background-color)
  width: 100%


.filter-item
  display: flex
  align-items: center
  justify-content: space-between
  padding-right: 10px

  li 
    &:hover
      background-color: var(--panel-background-color)

  .red-cross
    cursor: pointer


.autocomplete-wrapper
  background-color: var(--panel-background-color)
  width: 100%
  margin-top: 10px

.autocomplete-container
  display: flex
  flex-direction: column
  height: 93vh

.filtered-checkins-container
  background-color: var(--panel-background-color)

.filtered-checkins
  padding: 8px
  flex: 1
  overflow: auto
  min-height: 0

.filtered_pin
  background-color: green
  border-radius: 50%
  border: solid white 2px
  width: 15px
  height: 15px

  span
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    font-size: 12px
    font-weight: bold

.coordinates
  display: flex
  justify-content: center
  height: 5vh

.toolbar
  padding: 0
  display: flex
  justify-content: center

  .home-icon
    height: 30px

  .toolbar-header
    display: flex
    align-items: center
    justify-conter: center
    gap: 10px
    padding: 10px

    a
      display: flex
      align-items: center

.setting-icon
  cursor: pointer

.filter-divider, .settings-divider
  margin-bottom: 10px

.settings-content
  color: var(--text-emphasized-color)
  width: 100%
  display: flex
  align-items: center
  padding: 20px 8px
  gap: 5px

  h1
    margin: 0
    color: var(--text-emphasized-color)
    text-align: center

  .divider
    margin: 0

  .dark-btn
    height: 40px
    width: 100%

  .map-style, .satellite-style
    display: flex
    align-items: center
    gap: 5px
    cursor: pointer
    height: 40px
    background-color: var(--button-background)
    width: 100%

.hide
  display: none

#map
  width: 70%
  margin-left: 30%
  position: absolute
  z-index: 1

.side-panel
  display: flex
  flex-direction: column
  gap: 10px

.search-header, .settings-header
  display: flex
  gap: 10px
  align-items: center
  padding: 10px 15px 0 15px

  h1
    padding: 0

.settings-header
  padding-top: 0

.settings
  padding: 0 15px

.satellite-style, .map-style
  justify-content: center
  width: 100px

.selected
  background-color: var(--panel-hover)