<ion-header>
  <ion-navbar color="clear">
    <ion-title><img class="header-logo" src="./assets/logo-light.png"/></ion-title>
    <!-- <ion-buttons end>
      <button ion-button [navPush]="aboutPage">About</button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="checkin-page-content has-footer">
  <ion-grid>
    <ion-row>
      <ion-col width-90 class="checkin-title">
        {{ checkin.notes }}
      </ion-col>
      <ion-col width-10 class="checkin-subtitle">
        <ion-icon name="thumbs-up"></ion-icon> <span class="n-likes">{{ checkin.likes }}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-100>
        <div class="main-banner" (click)="openMap()">
          <div class="banner-info">
            <div class="banner-inner">
              <div class="banner-avatar">
                <ion-avatar>
                  <img [src]="checkin.gravatar || ''" class="huge-avatar">
                </ion-avatar>
              </div>
              <div class="banner-name-date">
                <h2 class="banner-name">{{ checkin.first_name }} {{ checkin.last_name }}</h2>
                <h3 class="banner-date"><ion-icon name="star" *ngFor="let star of getRating(checkin.rating)"></ion-icon></h3>
                <h3 class="banner-date">{{ checkin.created }}</h3>
              </div>
            </div>
          </div>
          <div id="checkin-map"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row wrap>
      <ion-col width-33>
        <ion-card>
          <img class="checkin-pic" [src]="checkin.thumb || ''" (click)="openPhoto(checkin.photo_id)" item-left [hidden]="!checkin.thumb" />
          <ion-card-content>
            <ion-card-title>
              <div class="notes">
                {{ checkin.notes }}
              </div>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-33 *ngFor="let observation of checkin.observations">
        <ion-card>
          <img class="checkin-pic" [src]="observation.thumb || observation.photo || ''" (click)="openPhoto(observation.photo)" item-left [hidden]="!observation.photo" />
          <ion-card-content>
            <ion-card-title [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.strat_name)">
              {{ (observation.rocks.strat_name) ? observation.rocks.strat_name.strat_name_long : '' }}
            </ion-card-title>

            <div tags>
              <span class="checkin-attribute"
                    *ngIf="hasKey(observation, 'rocks') && hasKeys(observation.rocks.strat_name)"
                    [hidden]="!hasKey(observation, 'rocks') || !hasKeys(observation.rocks.strat_name)">
                {{ observation.rocks.strat_name.strat_name_long }}
              </span>

              <span class="checkin-attribute"
                    *ngIf="hasKeys(observation.rocks) && hasKeys(observation.rocks.map_unit)"
                    [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.map_unit)">
                {{ observation.rocks.map_unit.unit_name }}
              </span>

              <span class="checkin-attribute"
                    *ngIf="hasKeys(observation.rocks) && hasKeys(observation.rocks.interval)"
                    [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.interval)"
                    [ngStyle]="{'backgroundColor': (hasKeys(observation.rocks) && hasKeys(observation.rocks.interval)) ? ('rgba(' + observation.rocks.interval.color + ')') : '#ffffff' }">
                {{ observation.rocks.interval.name }}
              </span>

              <span class="checkin-attribute age-estimate"
                    *ngIf="hasKeys(observation.age_est) && (observation.age_est.int_id != observation.rocks.interval.int_id)"
                    [hidden]="!hasKeys(observation.age_est)">
                {{ observation.age_est.name }} <span class="age-estimate-age">({{ observation.age_est.b_age.toFixed(1) }} - {{ observation.age_est.t_age.toFixed(1) }}Ma)</span>
                <br><span class="estimated">(estimated)</span>
              </span>

              <div class="checkin-attributes"
                   [hidden]="!hasKeys(observation.rocks) || !observation.rocks.liths.length"
                   *ngIf="hasKeys(observation.rocks) && observation.rocks.liths.length">
                <span class="checkin-attribute"
                      *ngFor="let lith of observation.rocks.liths"
                      [ngStyle]="{'backgroundColor': (hasKeys(observation.rocks) && observation.rocks.liths.length) ? ('rgba(' + lith.color + ')') : '#ffffff' }">
                  <span *ngIf="hasKey(lith, 'attributes')">
                    <span *ngFor="let attr of lith.attributes">{{ attr.name }} </span>
                  </span>
                  {{ (hasKeys(observation.rocks) && observation.rocks.liths.length) ? lith.name  : '' }}
                </span>
              </div>

              <span [hidden]="!hasKeys(observation.fossils) || !observation.fossils.taxon.length"
                    *ngIf="hasKeys(observation.fossils) && observation.fossils.taxon.length">
                  <span class="checkin-attribute"
                        *ngFor="let taxon of observation.fossils.taxon">
                    <img class="taxon-thumb" [src]="(PBDBURL + '/taxa/thumb.png?taxon_id=' + taxon.oid) || ''"/>
                    {{taxon.name}}
                  </span>
              </span>

              <span [hidden]="!hasKeys(observation.minerals) || !observation.minerals.minerals.length"
                    *ngIf="hasKeys(observation.minerals) && observation.minerals.minerals.length">
                  <span class="checkin-attribute"
                        *ngFor="let mineral of observation.minerals.minerals">
                      {{ mineral.mineral }} <span class="mineral-formula" [innerHTML]="mineral.formula_tags"></span>
                  </span>
              </span>

              <span class="checkin-attribute"
                    [hidden]="!hasKeys(observation.orientation) || !hasKeys(observation.orientation.feature)"
                    *ngIf="hasKeys(observation.orientation) && hasKeys(observation.orientation.feature)">
                  {{ observation.orientation.feature.name }}
              </span>

              <span class="checkin-attribute"
                    [hidden]="!hasKeys(observation.orientation) || !hasKeys(observation.orientation.strike === null)"
                    *ngIf="hasKeys(observation.orientation) && observation.orientation.strike != null">
                  Strike: {{ observation.orientation.strikeCardinal  }}({{ observation.orientation.strike }}&deg;)
              </span>

              <span class="checkin-attribute"
                    [hidden]="!hasKeys(observation.orientation) || !hasKeys(observation.orientation.dip === null)"
                    *ngIf="hasKeys(observation.orientation) && observation.orientation.dip != null">
                  Dip: <span [hidden]="observation.orientation.dip == null">{{ observation.orientation.dip }}&deg;</span><span [hidden]="observation.orientation.dip_dir == null">{{ observation.orientation.dip_dirCardinal  }}</span>
              </span>
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.rocks) || !observation.rocks.notes"
                 *ngIf="hasKeys(observation.rocks) && observation.rocks.notes">
              {{ observation.rocks.notes }}
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.fossils) || !observation.fossils.notes"
                 *ngIf="hasKeys(observation.fossils) && observation.fossils.notes">
              {{ observation.fossils.notes }}
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.minerals) || !observation.minerals.notes"
                 *ngIf="hasKeys(observation.minerals) && observation.minerals.notes">
              {{ observation.minerals.notes }}
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.orientation) || !observation.orientation.notes"
                 *ngIf="hasKeys(observation.orientation) && observation.orientation.notes">
              {{ observation.orientation.notes }}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="main-footer">
    <footer></footer>
  </ion-footer>

</ion-content>
