<ion-header>
  <ion-navbar color="clear">
    <ion-title>
      <a href="/explore">
        <img class="header-logo" src="./assets/logo-light.png"/>
      </a>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="checkin-page-content has-footer">
  <ion-grid [hidden]="!ERROR" *ngIf="ERROR" no-padding>
    <ion-col col-12>
      <img src="./assets/img/404.jpg"/>
    </ion-col>
  </ion-grid>

  <ion-grid [hidden]="ERROR">
    <ion-row>
      <ion-col col-10 class="checkin-title">
        {{ checkin.notes }}
      </ion-col>
      <ion-col col-2 class="checkin-subtitle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="17px" height="17px" viewBox="440.584 525.124 125.994 120.954"
           enable-background="new 440.584 525.124 125.994 120.954" xml:space="preserve"
           class="pick">
          <g>
            <path d="M498.788,533.069l3.391,3.391c0,0,2.072,2.26-0.662,4.978l-2.256,2.256c-0.98,0.985-2.298,1.935-3.073,1.992l-1.693,0.363
              c-2.766,0.696-10.043,6.866-7.902,9.162l2.295,2.295c0,0,0.481,0.929,0.126,1.818l1.349,1.951c0,0,8.217,9.295,11.841,12.905
              l41.821,41.549c0,0,8.056,7.822,10.527,8.463c0,0,3.336,2.349,4.633,4.633c1.299,2.287-2.302,6.01-2.302,6.01
              s-3.724,3.601-6.01,2.302c-2.286-1.299-4.633-4.633-4.633-4.633c-0.639-2.471-8.463-10.527-8.463-10.527l-41.552-41.821
              c-3.611-3.625-12.905-11.841-12.905-11.841l-1.862-1.287c-0.461,0.308-1.293,0.581-2.29-0.417l-1.454-1.454
              c0,0-3.104-4.079-9.793,1.377c-5.574,4.551-18.548,21.491-18.548,21.491s5.565-24.493,45.944-54.628
              C495.319,533.396,497.332,531.745,498.788,533.069z"/>
          </g>
        </svg>
        <span class="n-likes">{{ checkin.likes }}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div class="main-banner" (click)="openMap()" [ngStyle]="{'backgroundImage': 'url(' + checkin.mapURL + ')' }">
          <div class="banner-info">
            <div class="banner-inner">
              <div class="banner-avatar">
                <ion-avatar>
                  <img [src]="checkin.gravatar || ''" class="huge-avatar">
                </ion-avatar>
              </div>
              <div class="banner-name-date">
                <h2 class="banner-name">{{ checkin.first_name }} {{ checkin.last_name }}</h2>
                <h3 class="banner-date created">{{ checkin.created }}</h3>
                <h3 class="banner-date"><ion-icon name="pin"></ion-icon> Near {{ checkin.near }}</h3>
                <h3 class="banner-date"><ion-icon name="star" *ngFor="let star of getRating(checkin.rating)"></ion-icon></h3>
              </div>
            </div>
          </div>
          <div id="checkin-map"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [hidden]="ERROR" no-padding>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-4>
        <ion-card class="observation-card">
          <img class="checkin-pic" [src]="checkin.thumbLarge || ''" (click)="openPhoto(checkin.photo_id)" item-left [hidden]="!checkin.thumb" />
          <ion-card-content>
            <ion-card-title>
              <div class="notes">
                {{ checkin.notes }}
              </div>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-4 *ngFor="let observation of checkin.observations">
        <ion-card class="observation-card">
          <img class="checkin-pic" [src]="observation.thumbLarge || observation.photo || ''" (click)="openPhoto(observation.photo)" item-left [hidden]="!observation.photo" />
          <ion-card-content>
            <ion-card-title [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.strat_name)">
              {{ (observation.rocks.strat_name) ? observation.rocks.strat_name.strat_name_long : '' }}
            </ion-card-title>

            <div tags>
              <span class="checkin-attribute"
                    *ngIf="hasKey(observation, 'rocks') && hasKeys(observation.rocks.strat_name)"
                    [hidden]="!hasKey(observation, 'rocks') || !hasKeys(observation.rocks.strat_name)">
                {{ observation.rocks.strat_name.strat_name_long }}
              </span>

              <span class="checkin-attribute"
                    *ngIf="hasKeys(observation.rocks) && hasKeys(observation.rocks.map_unit)"
                    [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.map_unit)">
                {{ observation.rocks.map_unit.unit_name }}
              </span>

              <span class="checkin-attribute"
                    *ngIf="hasKeys(observation.rocks) && hasKeys(observation.rocks.interval)"
                    [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.interval)"
                    [ngStyle]="{'backgroundColor': (hasKeys(observation.rocks) && hasKeys(observation.rocks.interval)) ? ('rgba(' + observation.rocks.interval.color + ')') : '#ffffff' }">
                {{ observation.rocks.interval.name }}
              </span>

              <span class="checkin-attribute age-estimate"
                    *ngIf="hasKeys(observation.age_est) && (observation.age_est.int_id != observation.rocks.interval.int_id)"
                    [hidden]="!hasKeys(observation.age_est)">
                {{ observation.age_est.name }} <span class="age-estimate-age">({{ observation.age_est.b_age.toFixed(1) }} - {{ observation.age_est.t_age.toFixed(1) }}Ma)</span>
                <br><span class="estimated">(estimated)</span>
              </span>

              <div class="checkin-attributes"
                   [hidden]="!hasKeys(observation.rocks) || !observation.rocks.liths.length"
                   *ngIf="hasKeys(observation.rocks) && observation.rocks.liths.length">
                <span class="checkin-attribute"
                      *ngFor="let lith of observation.rocks.liths"
                      [ngStyle]="{'backgroundColor': (hasKeys(observation.rocks) && observation.rocks.liths.length) ? ('rgba(' + lith.color + ')') : '#ffffff' }">
                  <span *ngIf="hasKey(lith, 'attributes')">
                    <span *ngFor="let attr of lith.attributes">{{ attr.name }} </span>
                  </span>
                  {{ (hasKeys(observation.rocks) && observation.rocks.liths.length) ? lith.name  : '' }}
                </span>
              </div>

              <span [hidden]="!hasKeys(observation.fossils) || !observation.fossils.taxon.length"
                    *ngIf="hasKeys(observation.fossils) && observation.fossils.taxon.length">
                  <span class="checkin-attribute"
                        *ngFor="let taxon of observation.fossils.taxon">
                    <img class="taxon-thumb" [src]="(PBDBURL + '/taxa/thumb.png?taxon_id=' + taxon.oid) || ''"/>
                    {{taxon.name}}
                  </span>
              </span>

              <span [hidden]="!hasKeys(observation.minerals) || !observation.minerals.minerals.length"
                    *ngIf="hasKeys(observation.minerals) && observation.minerals.minerals.length">
                  <span class="checkin-attribute"
                        *ngFor="let mineral of observation.minerals.minerals">
                      {{ mineral.mineral }} <span class="mineral-formula" [innerHTML]="mineral.formula_tags"></span>
                  </span>
              </span>

              <span class="checkin-attribute"
                    [hidden]="!hasKeys(observation.orientation) || !hasKeys(observation.orientation.feature)"
                    *ngIf="hasKeys(observation.orientation) && hasKeys(observation.orientation.feature)">
                  {{ observation.orientation.feature.name }}
              </span>

              <span class="checkin-attribute"
                    [hidden]="!hasKeys(observation.orientation) || !hasKeys(observation.orientation.strike === null)"
                    *ngIf="hasKeys(observation.orientation) && observation.orientation.strike != null">
                  Strike: {{ observation.orientation.strikeCardinal  }}({{ observation.orientation.strike }}&deg;)
              </span>

              <span class="checkin-attribute"
                    [hidden]="!hasKeys(observation.orientation) || !hasKeys(observation.orientation.dip === null)"
                    *ngIf="hasKeys(observation.orientation) && observation.orientation.dip != null">
                  Dip: <span [hidden]="observation.orientation.dip == null">{{ observation.orientation.dip }}&deg;</span><span [hidden]="observation.orientation.dip_dir == null">{{ observation.orientation.dip_dirCardinal  }}</span>
              </span>
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.rocks) || !observation.rocks.notes"
                 *ngIf="hasKeys(observation.rocks) && observation.rocks.notes"
                 [innerHTML]="urlify(observation.rocks.notes)">
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.fossils) || !observation.fossils.notes"
                 *ngIf="hasKeys(observation.fossils) && observation.fossils.notes"
                 [innerHTML]="urlify(observation.fossils.notes)">
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.minerals) || !observation.minerals.notes"
                 *ngIf="hasKeys(observation.minerals) && observation.minerals.notes"
                 [innerHTML]="urlify(observation.minerals.notes)">
            </div>

            <div class="notes"
                 [hidden]="!hasKeys(observation.orientation) || !observation.orientation.notes"
                 *ngIf="hasKeys(observation.orientation) && observation.orientation.notes"
                 [innerHTML]="urlify(observation.orientation.notes)">
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="main-footer">
    <footer></footer>
  </ion-footer>

</ion-content>
