checkin-page {
	checkin-page {
		width: 100%;
	}
	.checkin-page-content {
		max-width: 900px;
		margin: 0 auto;
		position: relative;
	}
	.main-banner {
		height: 225px;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.banner-info {
		position: absolute;
		height: 100%;
		width: 100%;
		background: linear-gradient(to right, rgba(255,255,255,0.75), rgba(0,0,0,0));
		color: #333333;
		z-index: 999;
	}
	.banner-inner {
		height: 100%;
		padding: 10px;
		display: flex;
		align-items: center;
	}
	.banner-avatar {
		padding: 20px;
	}
	.huge-avatar {
		max-height: 125px !important;
		max-width: 125px !important;
		border-radius: 75px !important;
	}
	.banner-name {
		font-weight: 900;
		font-size: 25px;
	}
	.banner-date {
		margin-top: -10px;
		font-size: 16px;
		font-weight: 400;
	}
	.banner-near {
		margin-top: -10px;
		font-size: 14px;
	}
	.checkin-title {
		color: #777777;
		font-size: 32px;
		padding: 20px;
		font-weight: 300;
	}
	.checkin-subtitle {
		display: flex;
		align-items: center;
		color: #333333;
	}
	.n-likes {
		margin-left: 5px;
	}

	.banner-mask {
		position: absolute;
		width: 100%;
		height: 263px;
		margin-top: 5px;
		background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
		color: #ffffff;
	}
	.no-background-color {
		background-color: rgba(0,0,0,0);
	}
	.banner-mask .no-background-color {
		color: #fff;
	}
	#checkin-map {
		height: 225px;
		width: 100%;
		cursor: pointer;
		z-index: 1;
	}
	.checkin-map-title {
		font-size: 14px;
	}
	::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }

	.active {
	  font-weight: 200;
	  color: #777;
	}
	.wrap {
		white-space: initial;
	}

	.checkin-attributes {
		display: inline;
	}
	.checkin-attribute {
		border: 1px solid #aaa;
		padding: 5px;
		border-radius: 4px;
		font-size: 12px;
		margin-left: 5px;
		// white-space: nowrap;
		margin-top: 5px;
		display: inline-block;
	}
	.taxon-thumb {
		height: 20px !important;
		width: 20px !important;
		vertical-align: middle;
	}
	.mineral-formula {
		font-size: 70%;
	}
	.notes {
		font-size: 12px;
		margin-top: 5px;
		margin-left: 5px;
		line-height: 18px;
	}
	.age-estimate {
		border: 1px dotted #aaa;
		text-align: center;
	}
	.estimated {
		font-size: 10px;
		font-style: italic;
		display: block;
	}
	.age-estimate-age {
		font-size: 12px;
		color: #777777;
	}
	.checkin-pic {
		cursor: pointer;
	}
	@media (max-width: 700px) {
		ion-col[width-33] {
			max-width: 100%;
			flex: 0 0 100%;
		}
		.checkin-title {
			font-size: 20px;
		}
	}
}
