<ion-header>
  <ion-navbar color="clear">
    <ion-title><img class="header-logo" src="../assets/logo-light.png"/></ion-title>
    <ion-buttons end>
      <button ion-button [navPush]="aboutPage">About</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="checkin-page-content">
  <ion-grid>
    <ion-row>
      <ion-col width-90 class="checkin-title">
        {{ checkin.notes }}
      </ion-col>
      <ion-col width-10 class="checkin-subtitle">
        <ion-icon name="thumbs-up"></ion-icon> <span class="n-likes">{{ checkin.likes }}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-100>
        <div class="main-banner" [ngStyle]="{'backgroundImage': 'url(' + (checkin.banner || '') + ')'}" (click)="openPhoto(checkin.photo_id)">
          <div class="banner-info">
            <div class="banner-inner">
              <div class="banner-avatar">
                <ion-avatar>
                  <img [src]="checkin.gravatar || ''" class="huge-avatar">
                </ion-avatar>
              </div>
              <div class="banner-name-date">
                <h2 class="banner-name">{{ checkin.first_name }} {{ checkin.last_name }}</h2>
                <h3 class="banner-date"><ion-icon name="star" *ngFor="let star of getRating(checkin.rating)"></ion-icon></h3>
                <h3 class="banner-date">{{ checkin.created }}</h3>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row wrap>
      <ion-col width-33>
        <ion-card (click)="openMap()">
          <div id="checkin-map"></div>
          <ion-card-content>
            <ion-card-title class="checkin-map-title">
              <ion-icon name="pin"></ion-icon> Near {{ checkin.near }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-33 *ngFor="let observation of checkin.observations">
        <ion-card>
          <img [src]="observation.thumb || observation.photo || ''" (click)="openPhoto(observation.photo)" item-left [hidden]="!observation.photo" />
          <ion-card-content>
            <ion-card-title [hidden]="!hasKeys(observation.rocks)" >
              {{ (observation.rocks.strat_name) ? observation.rocks.strat_name.strat_name_long : '' }}
            </ion-card-title>

            <div rocks [ngClass]="hasKeys(observation.rocks) ? 'checkin-info-observations' : ''" [hidden]="!hasKeys(observation.rocks)">
              <div [hidden]="!hasKeys(observation.rocks.map_unit)" class="active wrap">
                {{ (observation.rocks.map_unit) ? observation.rocks.map_unit.unit_name : '' }}
              </div>

              <div [hidden]="!hasKeys(observation.rocks) || !observation.rocks.notes.length" class="notes-container wrap">
                <div class="observation-notes">
                  {{observation.rocks.notes}}
                </div>
              </div>

              <div [hidden]="!hasKeys(observation.rocks)" class="checkin-time active">
                <span [hidden]="!hasKeys(observation.rocks) || !hasKeys(observation.rocks.interval)"
                class="checkin-attributes observation-attribute"
                [ngStyle]="{backgroundColor: 'rgba(' + ((observation.rocks.interval) ?  observation.rocks.interval.color : '') + ')', color: (observation.rocks.interval) ? observation.rocks.interval.textColor : '' }"
                >{{ (hasKeys(observation.rocks) && hasKeys(observation.rocks.interval)) ? observation.rocks.interval.name : '' }}
                </span>

                <span class="checkin-attributes observation-attribute"
                      *ngFor="let lith of observation.rocks.liths"
                      [ngStyle]="{backgroundColor: 'rgba(' + lith.color + ')'}">
                      <span *ngFor="let attribute of lith.attributes">{{attribute.name}} </span>
                      {{lith.name}}
                </span>

              </div>
            </div>

            <div orientation [ngClass]="hasKeys(observation.orientation) ? 'checkin-info-observations' : ''"  [hidden]="!hasKeys(observation.orientation)">
              <span class="checkin-attributes observation-attribute orientation-attribute" [hidden]="observation.orientation.strike == null">
                Strike: {{ observation.orientation.strikeCardinal  }}({{ observation.orientation.strike }}&deg;)
              </span>
              <span class="checkin-attributes observation-attribute orientation-attribute" [hidden]="observation.orientation.dip == null && observation.orientation.dip_dir == null">
                Dip: <span [hidden]="observation.orientation.dip == null">{{ observation.orientation.dip }}&deg;</span><span [hidden]="observation.orientation.dip_dir == null">{{ observation.orientation.dip_dirCardinal  }}</span>
              </span>

              <span class="checkin-attributes observation-attribute orientation-attribute" [hidden]="!hasKeys(observation.orientation.feature)">
                {{ (hasKeys(observation.orientation) && hasKeys(observation.orientation.feature)) ? observation.orientation.feature.name : '' }}
              </span>
            </div>

            <div fossils [ngClass]="hasKeys(observation.fossils) ? 'checkin-info-observations' : ''"  [hidden]="!hasKeys(observation.fossils)">
              <div [hidden]="!hasKeys(observation.fossils) || !observation.fossils.taxon.length" class="checkin-view-taxa">
                <span *ngFor="let taxon of observation.fossils.taxon" class="observation-taxon">
                  <img class="taxon-thumb" [src]="(PBDBURL + '/taxa/thumb.png?taxon_id=' + taxon.oid) || ''"/>
                  {{taxon.name}}
                </span>
              </div>

              <div [hidden]="!hasKeys(observation.fossils) || !observation.fossils.notes || !observation.fossils.notes.length" class="notes-container wrap">
                <div class="observation-notes">
                  {{observation.fossils.notes}}
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
