@use "sass:color"
@use "./colors" as *
@use "@blueprintjs/colors/lib/scss/colors" as *
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro")

*
  box-sizing: border-box

// Colors taken primarily from blueprintjs v4
// See https://blueprintjs.com/docs/#core/colors
:root
  @each $name, $color in $colors
    --#{$name}: #{$color}

html, body
  height: 100vh
  height: -webkit-fill-available

.bp5-input
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2)

.bp5-button
  color: var(--text-color)

.bp5-control
  color: var(--text-subtle-color) !important

body
  color: var(--text-color)
  margin: 0
  padding: 0
  font-family: 'Source Sans Pro', sans-serif

  &.bp5-dark
    color-scheme: dark
    color: $dark-text
    background-color: $dark-background
    // each item in color map
    @each $name, $color in $dark-colors
      --#{$name}: #{$color}

    .bp5-input
      &::placeholder
        color: var(--secondary-color)
        box-shadow: 0 0 0 0 color.change($light-gray3, $alpha: 0), 0 0 0 0 color.change($light-gray3, $alpha: 0), inset 0 0 0 1px color.change($light-gray1, $alpha: 0.15), inset 0 1px 1px color.change($light-gray1, $alpha: 0.2)

.bp5-card, .bp5-navbar
  border-radius: 4px
  background-color: var(--panel-background-color)
  box-shadow: 0 0 0 1px var(--card-shadow-color)

.footer
  display: grid
  grid-template-columns: 50% 50%
  background-color: var(--panel-background-color)
  text-align: center
  color: var(--panel-text)
  padding: 25px 0
  height: 25vh
  border-top: 2px solid var(--panel-text)
  padding: 0 20%

  ul
    list-style-type: none

  a
    color: black
    font-weight: bold
  a:hover
    color: black

.titles
  text-align: left
  height: 25vh
  display: grid
  margin: auto
  margin-left: 0

.row
  width: 100%

.checkin
  background-color: var(--panel-background-color)
  color: black
  text-align: left
  box-shadow: 0 0 0 1px var(--card-shadow-color)
  padding: 15px
  padding-bottom: 6px
  border-radius: 2%
  font-size: 14px
  color: var(--text-emphasized-color)
  margin-top: 10px

  h3
    color: var(--text-emphasized-color)

  a
    color: black
    text-decoration: none

    &:hover
      color: black

  .star
    height: 15px

  .checkin-header
    display: flex

  .checkin-name
    font-size: 20px
    font-weight: 500
    color: #333
    margin-bottom: 0

  .profile-pic
    height: 80px
    width: 80px
    border-radius: 50%
    display: inline-block
    margin-right: 10px

  .box-header
    display: flex

  .name
    margin: 0

  .checkin-info
    display: grid
    margin: auto
    margin-left: 0

  h3, h4, p
    margin: 0

  .checkin-link
    position: relative

    .image-details
      position: absolute
      top: -250px
      left: 0
      right: 0
      bottom: 0
      display: flex
      justify-content: center
      align-items: center
      display: none
      color: white

    .observation-img
      margin-top: 10px
      width: 100%
      height: 250px
      object-fit: cover
      border-radius: 2%

    &:hover
      .observation-img
        -webkit-filter: brightness(70%)
      .image-details
        display: flex

  .description
    margin-top: 10px

.checkin-footer
  display: flex
  justify-content: center

  .likes-container
    display: grid
    grid-template-columns: 50% 50%
    width: 25%
    justify-content: end
    place-items: center

    .likes-image
      width: 40px

  .comments-container
    display: grid
    grid-template-columns: 50% 50%
    width: 25%
    place-items: center

    .comments-image
      width: 40px

  .observations-container
    display: grid
    grid-template-columns: 50% 50%
    width: 25%
    place-items: center

    .observations-image
      width: 40px


.marker
  height: 7vh
  display: grid
  margin: auto
  margin-right: 0

.details-image
  width: 40px
  margin-left: 10px
  margin-top: 4px

.checkin-info
  display: grid
  margin: auto
  margin-left: 0

.checkin-header
  display: flex

.profile-pic
  height: 80px
  width: 80px
  border-radius: 50%
  display: inline-block
  margin-right: 10px

.description
  margin-top: 10px

.marker_container
  position: relative
  height: 7vh
  margin-right: 10px

  .marker-number
    position: absolute
    font-weight: bold
    font-size: 16px
    transform: translate(-50%, -50%)
    top: 40%
    left: 48%
    color: white

  .circle-number
    position: absolute
    font-weight: bold
    font-size: 16px
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    color: white

.footer-links
  display: grid
  margin: auto
  margin-right: 0

  a 
    color: var(--panel-text)

    &:hover
      color: var(--panel-text)

.footer-text
  font-size: 24px
  font-weight: 500

  a 
    color: var(--panel-text)

    &:hover
      color: var(--panel-text)

.no-image
  color: var(--panel-text)
  display: flex
  justify-content: center
  align-items: center
  gap: 10px
  marigin: 0

  .details-image
    filter: var(--anti-img-color)