<ion-header>
  <ion-navbar color="clear">
    <ion-title>
      <a href="/explore">
        <img class="header-logo" src="./assets/logo-light.png"/>
      </a>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content disableScroll="true">
  <ion-grid [hidden]="!ERROR">
    <ion-col width-100 text-center>
      <img src="./assets/img/404.jpg"/>
    </ion-col>
  </ion-grid>

  <div class="slide-container" [hidden]="ERROR">
    <ion-slides (ionSlideDidChange)="onSlideChanged()" #photoSlider [pager]="true" [paginationType]="'bullets'" [initialSlide]="options.initialSlide" [zoom]="true" [ngStyle]="{visibility: (loading ? 'hidden' : 'visible') }">
      <ion-slide *ngFor="let photo of photos">
        <div class="photo-holder">
          <div class="photo-caption" [ngStyle]="{'transform': (showCaption) ? 'translateY(0%)' : 'translateY(200%)'}">
            <div class="hide-caption" (click)="toggleCaption()"><ion-icon name="remove-circle"></ion-icon></div>
            <div class="photo-caption-inner">
              <span class="checkin-title">
                {{ photoData[photo].title ? photoData[photo].title : '' }}
              </span>

              <div class="tags">
                <span class="checkin-attribute"
                      *ngIf="hasKey(photoData[photo], 'rocks') && hasKeys(photoData[photo].rocks.strat_name)"
                      [hidden]="!hasKey(photoData[photo], 'rocks') || !hasKeys(photoData[photo].rocks.strat_name)">
                  {{ photoData[photo].rocks.strat_name.strat_name_long }}
                </span>

                <span class="checkin-attribute"
                      *ngIf="hasKeys(photoData[photo].rocks) && hasKeys(photoData[photo].rocks.map_unit)"
                      [hidden]="!hasKeys(photoData[photo].rocks) || !hasKeys(photoData[photo].rocks.map_unit)">
                  {{ photoData[photo].rocks.map_unit.unit_name }}
                </span>

                <span class="checkin-attribute"
                      *ngIf="hasKeys(photoData[photo].rocks) && hasKeys(photoData[photo].rocks.interval)"
                      [hidden]="!hasKeys(photoData[photo].rocks) || !hasKeys(photoData[photo].rocks.interval)"
                      [ngStyle]="{'backgroundColor': (hasKeys(photoData[photo].rocks) && hasKeys(photoData[photo].rocks.interval)) ? ('rgba(' + photoData[photo].rocks.interval.color + ')') : '#ffffff' }">
                  {{ photoData[photo].rocks.interval.name }}
                </span>

                <span class="checkin-attribute age-estimate"
                      *ngIf="hasKeys(photoData[photo].age_est) && (photoData[photo].age_est.int_id != photoData[photo].rocks.interval.int_id)"
                      [hidden]="!hasKeys(photoData[photo].age_est)">
                  {{ photoData[photo].age_est.name }} <span class="age-estimate-age">({{ photoData[photo].age_est.b_age.toFixed(1) }} - {{ photoData[photo].age_est.t_age.toFixed(1) }}Ma)</span>
                  <br><span class="estimated">(estimated)</span>
                </span>

                <div class="checkin-attributes"
                     [hidden]="!hasKeys(photoData[photo].rocks) || !photoData[photo].rocks.liths.length"
                     *ngIf="hasKeys(photoData[photo].rocks) && photoData[photo].rocks.liths.length">
                  <span class="checkin-attribute"
                        *ngFor="let lith of photoData[photo].rocks.liths"
                        [ngStyle]="{'backgroundColor': (hasKeys(photoData[photo].rocks) && photoData[photo].rocks.liths.length) ? ('rgba(' + lith.color + ')') : '#ffffff' }">
                    <span *ngIf="hasKey(lith, 'attributes')">
                      <span *ngFor="let attr of lith.attributes">{{ attr.name }} </span>
                    </span>
                    {{ (hasKeys(photoData[photo].rocks) && photoData[photo].rocks.liths.length) ? lith.name  : '' }}
                  </span>
                </div>

                <span [hidden]="!hasKeys(photoData[photo].fossils) || !photoData[photo].fossils.taxon.length"
                      *ngIf="hasKeys(photoData[photo].fossils) && photoData[photo].fossils.taxon.length">
                    <span class="checkin-attribute"
                          *ngFor="let taxon of photoData[photo].fossils.taxon">
                      <img class="taxon-thumb" [src]="(PBDBURL + '/taxa/thumb.png?taxon_id=' + taxon.oid) || ''"/>
                      {{taxon.name}}
                    </span>
                </span>

                <span [hidden]="!hasKeys(photoData[photo].minerals) || !photoData[photo].minerals.minerals.length"
                      *ngIf="hasKeys(photoData[photo].minerals) && photoData[photo].minerals.minerals.length">
                    <span class="checkin-attribute"
                          *ngFor="let mineral of photoData[photo].minerals.minerals">
                        {{ mineral.mineral }} <span class="mineral-formula" [innerHTML]="mineral.formula_tags"></span>
                    </span>
                </span>

                <span class="checkin-attribute"
                      [hidden]="!hasKeys(photoData[photo].orientation) || !hasKeys(photoData[photo].orientation.feature)"
                      *ngIf="hasKeys(photoData[photo].orientation) && hasKeys(photoData[photo].orientation.feature)">
                    {{ photoData[photo].orientation.feature.name }}
                </span>

                <span class="checkin-attribute"
                      [hidden]="!hasKeys(photoData[photo].orientation) || photoData[photo].orientation.strike === null"
                      *ngIf="hasKeys(photoData[photo].orientation) && photoData[photo].orientation.strike != null">
                    Strike: {{ photoData[photo].orientation.strikeCardinal  }}({{ photoData[photo].orientation.strike }}&deg;)
                </span>

                <span class="checkin-attribute"
                      [hidden]="!hasKeys(photoData[photo].orientation) || photoData[photo].orientation.dip === null"
                      *ngIf="hasKeys(photoData[photo].orientation) && photoData[photo].orientation.dip != null">
                    Dip: <span *ngIf="hasKeys(photoData[photo].orientation)" [hidden]="photoData[photo].orientation.dip == null">{{ photoData[photo].orientation.dip }}&deg;</span><span *ngIf="hasKeys(photoData[photo].orientation)" [hidden]="photoData[photo].orientation.dip_dir == null">{{ photoData[photo].orientation.dip_dirCardinal  }}</span>
                </span>
              </div>

              <div class="notes"
                   [hidden]="!hasKeys(photoData[photo].rocks) || !photoData[photo].rocks.notes"
                   *ngIf="hasKeys(photoData[photo].rocks) && photoData[photo].rocks.notes"
                   [innerHTML]="urlify(photoData[photo].rocks.notes)">
              </div>

              <div class="notes"
                   [hidden]="!hasKeys(photoData[photo].fossils) || !photoData[photo].fossils.notes"
                   *ngIf="hasKeys(photoData[photo].fossils) && photoData[photo].fossils.notes"
                   [innerHTML]="urlify(photoData[photo].fossils.notes)">
              </div>

              <div class="notes"
                   [hidden]="!hasKeys(photoData[photo].minerals) || !photoData[photo].minerals.notes"
                   *ngIf="hasKeys(photoData[photo].minerals) && photoData[photo].minerals.notes"
                   [innerHTML]="urlify(photoData[photo].minerals.notes)">
              </div>

              <div class="notes"
                   [hidden]="!hasKeys(photoData[photo].orientation) || !photoData[photo].orientation.notes"
                   *ngIf="hasKeys(photoData[photo].orientation) && photoData[photo].orientation.notes"
                   [innerHTML]="urlify(photoData[photo].orientation.notes)">
              </div>
            </div>
          </div>
          <div class="img" [ngStyle]="{'backgroundImage': 'url(' + 'https://rockd.org/api/v1/protected/image/' + checkin.person_id + '/large/' + (photo || '') + ')'}"></div>
          <div class="show-caption" (click)="toggleCaption()" [hidden]="showCaption"><ion-icon name="information-circle"></ion-icon></div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
