.main
    background-color white
    color black
    padding 0
    margin 0
    padding-left 20%
    padding-bottom 5vh

h1, p
    padding 0
    margin 0

.location-img
    position absolute
    z-index 1
    width 60%
    height 25vh
    object-fit cover

.stop-header
  display grid
  margin auto
  grid-template-columns 20% 80%
  position absolute
  z-index 2
  background-color rgba(255, 255, 255, 0.8)
  width 60%
  height 25vh
  align-items center

  h3 
    font-size 20px
    padding 0
    margin 2px


.profile-pic
  height 100px
  border-radius 50%
  display grid
  margin auto
  margin-left 50px

.stop-main-info
  text-align left
  display grid
  margin auto
  margin-left 0

.star
    height 15px

.marker
    heigth 15px

.edited
    color grey

h4
    padding 0
    margin 0

.checkin-header
    padding 30px
    padding-left 0

.loading
  height 75vh
  padding-top 20vh
  text-align center
  background-color white
  color black
  font-style italic

.observations
    margin-top 27vh
    display flex
    flex-wrap wrap
    width 75%

.observation
    flex 0 0 calc(33.33% - 10px)
    margin 5px
    text-align center
    box-shadow -4px 0px 7px #aaa
    border-radius 2%

.observation-img
    width 100%
    border-radius 2% 2% 0 0

.dark-mode-button  
    position absolute
    top 0
    left 0